@page "/"
<h1> Evan Barbur </h1>
<h2> https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/ </h2>
<h2> https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro </h2>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
